@media(max-width: 750px){
    .hamburger{
        display: block;
    }
   
        
    .navmenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0B006C;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
}